<div class='card'>

{% if inline %}

    <!-- TODO:
    Make card horizontal with small image on left as on:
    https://getbootstrap.com/docs/4.4/components/card/#horizontal -->
    <div class='card-body'>
        <h5 class='card-title'>
            {% if request.user.is_authenticated %}
            <a href="{{ item.get_absolute_url }}">
            {% endif %}
                {{ item.name }}
            {% if request.user.is_authenticated %}
            </a>
            {% endif %}
        </h5>
        <p class='card-text'>
            <div class='content-markdown'>{{ item.description | linebreaks | truncatewords:20 }}</div>
        </p>

{% else %}

    {% if item.image %}
    <img src="{{ item.image.url }}"
         class="card-img-top img-responsive shadow border w-75 mx-auto mt-4"
         style="max-width: 30rem;"
         alt="item image"/>
    {% endif %}
    <div class='card-body'>
        <h1 class='card-title'>{{ item.name }}</h1>
        <p class='card-text'>
            <div class='content-markdown'>{{ item.description }}</div>
        </p>
        {% if request.user.is_staff %}
        <!-- TODO: use fancy buttons instead -->
        <a href='{{ item.get_edit_url }}' class="card-link">Edit</a>
        <a href='{{ item.get_delete_url }}' class="card-link">Delete</a>
        {% endif %}

{% endif %}

    </div>
</div>